.App {
  padding: 15px 70px 0px;

  font-family: "Noto Sans JP", sans-serif;
}
.App h1 {
  font-size: 2.5em;
  text-align: center;
  font-weight: 400;
}
.sub-heading h2 {
  font-style: italic;
  font-size: 1em;
  opacity: 80%;
}
.sub-heading h3 {
  font-size: 0.8em;
  opacity: 50%;
}
.sub-heading {
  margin: 0 auto;
  width: 400px;
}
.App footer {
  margin-top: 15px;
  font-size: 1em;
  text-align: center;
}
