ol {
  list-style-type: upper-roman;
}
.type {
  font-size: 1.25em;
  font-weight: 400;
  padding-bottom: 5px;
}
.meaning {
  padding: 10px 0px;
}
.definition {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
}
.example {
  opacity: 75%;
  padding-bottom: 5px;
}

.synonyms {
  padding: 5px 10px;
  margin: 0px 5px;
  background-color: rgba(0, 0, 0, 0.075);
  font-size: 0.9em;
  border-radius: 25px;
}
